.table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.table th {
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #8882c4;
    padding: 5px;
    background-color: darkslateblue;
    color: lightblue;
}

.table td {
    min-width: 70px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #8882c4;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.table tbody tr:nth-child(odd) {
    background: #ffffff;
}

.table tbody tr:nth-child(even) {
    background: #c3bdf5;
}

.gold {
    background-color: gold;
}

.red {
    color: red;
}

.dark,
.dragon,
.electric,
.fire,
.grass,
.ground,
.ice,
.neutral,
.water,
.hand,
.wood,
.mining {
    background-size: 20px;
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: right 50%;
}

.dark {
    background-image: url("../img/Dark_icon.webp");
}

.dragon {
    background-image: url("../img/Dragon_icon.webp");
}

.electric {
    background-image: url("../img/Electric_icon.webp");
}

.fire {
    background-image: url("../img/Fire_icon.webp");
}

.grass {
    background-image: url("../img/Grass_icon.webp");
}

.ground {
    background-image: url("../img/Ground_icon.webp");
}

.ice {
    background-image: url("../img/Ice_icon.webp");
}

.neutral {
    background-image: url("../img/Neutral_icon.webp");
}

.water {
    background-image: url("../img/Water_icon.webp");
}

.hand {
    background-color: gold;
    background-image: url("../img/Handiwork_Icon.webp");
}

.wood {
    background-color: gold;
    background-image: url("../img/Lumbering_Icon.webp");
}

.mining {
    background-color: gold;
    background-image: url("../img/Mining_Icon.webp");
}